<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <appSettings>
	<!-- ************** READ HERE FIRST! **************
	BetterJoy's settings are stored in XML format. If you want to edit a particular setting, find the line beginning with 
	'<add key' for the relevant setting. Change the contents of the quotation marks in the value="" field to the setting
	you prefer. The different settings you can choose are explained in comments above the '<add key' line. If you don't know
	what a comment is, it's the paragraphs that look like the one you're reading now. If you have difficulty reading and
	editing this file, a program such as Notepad++ which colour codes different elements in XML files may help legibility.-->


	<!--XBOX 360 CONTROLLER EMULATION
	Determines whether or not BetterJoy will expose detected controllers as Xbox 360 controllers to the OS.
	The default setting is true.
	This is useful when playing games/using software that expects you to be using an Xbox 360 or other Xiput compatible
	controller.-->

		<add key="ShowAsXInput" value="true" />


	<!--DUALSHOCK 4 CONTROLLER EMULATION
	Determines whether or not BetterJoy will expose detected controllers as DualShock 4 controllers to the OS.
	The default setting is false.
	If you want to use this setting, set ShowAsXInput set as false above.-->

		<add key="ShowAsDS4" value="false"/>


	<!--CEMUHOOK MOTION SERVER
	Enables or disables the CemuHook motion server. If you are not using CemuHook, you do not need to worry about these
	motion server settings.
	The default setting is true. Change to false to disable.-->

		<add key="MotionServer" value="true" />	
	
	
	<!--MOTION SERVER IP ADDRESS
	IP address for the CemuHook motion server.
	The default address is 127.0.0.1.
	You can change it to 0.0.0.0 (all interfaces) or a specific LAN IP which is **useful if you want to access the server
	from another computer in a network.**-->

		<add key="IP" value="127.0.0.1" />


	<!--MOTION SERVER NETWORK PORT
	Network port number for the CemuHook motion server.
	The default port is 26760.
	If it conflicts with another server set it to anything valid but in that case also change the port in PadTest and
	cemuhook.ini accordingly.-->

		<add key="Port" value="26760" />


	<!--CONTROLLER RUMBLE
	Enables or disables rumble/vibration.
	The default setting is true. Change to false to disable.-->

		<add key="EnableRumble" value="true" />


	<!--CONTROLLER HD RUMBLE SETTINGS
	Changes the frequency of rumble/vibration for controllers.
	The default settings are 40 for low frequency rumble and 120 for high frequency rumble.
	Don't set above approx. 1200. To have "stronger" rumble, try setting LowFreqRumble to 160 and HighFreqRumble to 320.-->

		<add key="LowFreqRumble" value="40" />
		<add key="HighFreqRumble" value="120" />


	<!--SHAKE INPUT
	Enables or disables a input when shaking a controller, only works with DualShock 4 for now, replaces the touchpad input
	(Button 13 on DirectInput)
	The default setting is false. Change to true to enable.-->

		<add key="EnableShakeInput" value="false" />


	<!--SHAKE INPUT SENSITIVITY
	How sensitve the shake detection should be.
	The default settings is 10.-->

		<add key="ShakeInputSensitivity" value="10" />


	<!--SHAKE INPUT DELAY
	How often should the shake input run in milliseconds.
	The default setting is 200.
	Don't set this lower than 15.-->

		<add key="ShakeInputDelay" value="200" />


	<!--A/B BUTTONS SWAP
	Swaps the A and B buttons.
	The default setting is false.
	If this is set to true, this mimicks the (half of) Xbox layout by the button name, rather than by the physical layout.
	Also swaps buttons when using "Also use for buttons/axes" -->

		<add key="SwapAB" value="false" />


	<!--X/Y BUTTONS SWAP
	Swaps the X and Y buttons.
	The default setting is false.
	If this is set to true, this mimicks the (half of) Xbox layout by the button name, rather than by the physical layout.
	Also swaps buttons when using "Also use for buttons/axes"-->

		<add key="SwapXY" value="false" />


	<!--GYRO CALIBRATION BUTTON
	Allows for calibration of the controller's gyro. Adds a "Calibrate" button.
	The default setting is false.
	When "true", click the "Calibrate" button once to get gyro calibrate data. You can only calibrate one controller
	at a time.-->

		<add key="AllowCalibration" value="false" />


	<!--DEFAULT GYRO CALIBRATION 
	This is used for manually setting the calibration for third party controllers -->

		<add key="acc_sensiti" value="16384,16384,16384"/>
		<add key="gyr_sensiti" value="18642,18642,18642"/>
		<add key="stick_cal" value="0x780,0x780,0x780,0x830,0x780,0x780"/>
		<add key="deadzone" value="200"/>
		<add key="stick2_cal" value="0x780,0x780,0x780,0x830,0x780,0x780"/>
		<add key="deadzone2" value="200"/>


	<!--GYRO ANALOG INPUT
	Allows the mapping of gyroscope tilting to analog inputs, such as triggers.
	The default setting is false.
	Works for both pro controller (in this case, the triggers are combined) and joined joycons (in this case, the triggers
	are not combined.-->

		<add key="GyroAnalogSliders" value="false" />


	<!--GYRO ANALOG SENSITIVITY
	Changes the sensitivity of the gyro analog inputs.
	The default value is 400.
	Change to -400 to reverse tilt direction. Positive is ramp up if pointing up.-->

		<add key="GyroAnalogSensitivity" value="400" />


	<!--PURGE CONTROLLERS ON EXIT
    Determines whether or not the program should purge the affected devices list upon exit
	The default value is false.
	Enable this if you are having issues with the controller being unusable after closing BetterJoy.-->

		<add key="PurgeAffectedDevices" value="false" />


	<!--HIDGUARDIAN
	Determines whether or not to use HidGuardian.
	The default setting is false.
	When "true", BetterJoy will hide the Pro/Joycons from other programs to prevent glitching out on exit and to prevent
	DirectInput and Xinput clashes in certain programs. Improves compatibility with other programs, like Steam, when set
	to "false"-->

		<add key="UseHIDG" value="false" />


	<!--HIDGUARDIAN WHITELIST PURGE
	Determines whether or not HidGuardian's process whitelist is purged on start-up
	The default value is false.
	Can interfere with other programs using HidGuardian, but prevents whitelist from being clogged from crashed instances.-->

		<add key="PurgeWhitelist" value="false" />


	<!--HOME BUTTON LED
	This setting will keep the HOME button LED ring light on at all times.
	The default setting is true.-->

		<add key="HomeLEDOn" value="true"/>


	<!--INCREMENTAL PLAYER LEDS
	Will use multiple lights to display the current player rather than a single LED.
	The default setting is true.
	When set to false, player number is indicated by which single LED is lit (player 1 is the first LED, P2 is the 2nd, etc.)
	When set to true, player number is indicated by the number of LEDs lit. (player 1 has 1 LED lit, P2 has 2 LEDs lit, etc)-->

		<add key="UseIncrementalLights" value="true" />


	<!--GYRO MOUSE/JOYSTICK MAPPING
	This setting determines whether or not to translate gyroscope movements into joystick tilt, mouse movement, or disable.
	The default value is none. Leaving this set to "none" disables this entirely.
	Set to "joy_left" or "joy_right" to map gyro movements to the left or right joystick.
	Set to "mouse" to map gyro movements to mouse input. Press either stick-button (by default to reset the mouse position to
	the center of the primary display. This button setting can be changed in the "Map Buttons" menu in BetterJoy.-->

		<add key="GyroToJoyOrMouse" value="none"/>


	<!--GYRO ACTIVATION BUTTON BEHAVIOUR
	Determines how the Activate Gyro button (set within Map Buttons menu in BetterJoy) behaves.
	The default value is true.
	If set to true, holding down the Activate Gyro button will activate gyro inputs, and releasing it will deactivate.
	If set to false, pressing and releasing the Activate Gyro button once will activate, and press/releasing again will
	deactivate.-->

		<add key="GyroHoldToggle" value="true"/>


	<!--GYRO MOUSE SENSITIVITY
	This setting determines the sensitivity of gyro-to-mouse movements.
	The default settings are 1200 for X and 800 for Y.
	If you have set UseFilteredIMU further down this file to false, divide these settings by 15.-->

		<add key="GyroMouseSensitivityX" value="1200"/>
		<add key="GyroMouseSensitivityY" value="800"/>


	<!--GYRO MOUSE CLICK-AND-DRAG BEHAVIOUR
	Determines how clicking and dragging works with the mapped mouse buttons.
	The default value is false.
	When set to false, you must hold the button to drag.
	When set to true, the button will toggle dragging.-->

		<add key="DragToggle" value="false"/>


	<!--GYRO MOUSE HANDEDNESS
	Determines which joycon is used for gyroscope mouse input when using two combined joycons.
	Default value is false, which uses right joycon.
	Set to true to use left joycon.-->

		<add key="GyroMouseLeftHanded" value="false"/>


	<!--GYRO JOYSTICK SENSITIVITY
	This setting determines the sensitivity of gyro-to-joystick/thumbstick movements.
	The default settings are 40.0 for X and 10.0 for Y.
	If you have set UseFilteredIMU further down this file to false, divide these settings by 15.-->

		<add key="GyroStickSensitivityX" value="40.0"/>
		<add key="GyroStickSensitivityY" value="10.0"/>


	<!--GYRO JOYSTICK RANGE REDUCTION
	Stick range reduction when gyro-to-joystick is enabled and active.
	The default value is 1.5.
	This divides range by factor (so 1 is no change; 1.5 is halved range (with deadzone in mind))-->

		<add key="GyroStickReduction" value="1.5"/>	


	<!--GYRO DATA IMU FILTER
	This setting enables or disables IMU filtering on gyroscope inputs.
	The default value is true.
	With IMU filtering enabled, gyro inputs will be smoother and more accurate.
	With IMU filtering disabled, gyro inputs will be faster to respond to movement.-->

		<add key="UseFilteredIMU" value="true"/>


	<!--AHRS BETA VALUE
	Beta value of AHRS. 
	The default value is 0.05.
	Affects divergence of filter.-->

		<add key="AHRS_beta" value="0.05"/>


	<!--CONTROLLER POWEROFF ON EXIT
	 Automatically power off controllers on BetterJoy exit.
	 The defaut value is false.
	 Set to true to enable.-->

		<add key="AutoPowerOff" value="false" />


	<!--CONTROLLER POWEROFF ON TIMEOUT
	Automatically power off controllers after a period of inactivity in minutes.
	The default value is 30.
	Change to -1 to disable this setting entirely.-->

		<add key="PowerOffInactivity" value="-1" />


	<!--MANUAL CONTROLLER POWEROFF
	Power off controllers manually.
	The default value is true.
	Change to false to disable.
	If you are using only the left controller, hold the Capture button for 2 seconds to power off.
	If you are using only the right controller or combined controllers, hold the Home button for 2 seconds to power off.-->

		<add key="HomeLongPowerOff" value="true" />


	<!--CHANGE JOYCON ORIENTATION ON DOUBLE STICK CLICK
	This setting allows you to double click either stick to change the orientation of the joycon on the fly.
	The default setting is true.
	Change to false to disable.-->

		<add key="ChangeOrientationDoubleClick" value="true" />


	<!--DO NOT REJOIN JOYCONS
	This setting allows you to use two separate vertical joycons. 
	The default settting is false.
	Clicking the joycon icon in BetterJoy will split the joined joycons into two horizontal ones.
	If this setting is set to false, clicking the icon again will rejoin them vertically.
	If set to true, clicking the icon again will rotate the split joycon's orientation separately from the other, without
	rejoining them. -->

		<add key="DoNotRejoinJoycons" value="false" />


	<!--DEBUG INFORMATION
	Determines what type of debugging information is to be printed to the console in BetterJoy.
	The default value is 0.
	None = 0
	All = 1
	Comms = 2
	Threading = 3
	IMU = 4
	Rumble = 5
	Shake Input = 6-->

		<add key="DebugType" value="0" />


    </appSettings>
</configuration>
