<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
      <!--Motion Server IP: the default is localhost; you can change it to 0.0.0.0 (all interfaces) or a specific LAN IP
        which is **useful if you want to access the server from another computer in a network.** Default: 127.0.0.1-->
      <add key="IP" value="127.0.0.1" />

      <!--Motion Server port: the default is 26760; if it conflicts with another server set it to anything valid
        but in that case also change the port in PadTest and cemuhook.ini accordingly. Default: 26760 -->
      <add key="Port" value="26760" />

      <!--Rumble motor period in millisec. Lower means more granular vibration, higher is more stable.-->
      <!--The response of rumble does not only depend on this setting and it's always high. Default: 100 -->
      <add key="RumblePeriod" value="100" />

      <!--The controller's HD rumble settings for the low/high frequency rumble. Change to change the pitch of the rumble.-->
      <!--Don't set above ~1200. Default: 160 and 320 -->
      <add key="LowFreqRumble" value="160" />
      <add key="HighFreqRumble" value="320" />

      <!--Rumble Setting. Turns rumble on or off.-->
      <!--On is "true"; off is "false". Default: true -->
      <add key="EnableRumble" value="true" />

      <!--Swap A-B and X-Y buttons; if on, this mimicks the Xbox layout by the button name, rather than by the physical layout.-->
      <!--Also swaps buttons when using "Also use for buttons/axes"-->
      <!--On is "true"; off is "false". Default: false -->
      <add key="SwapButtons" value="false" />
    </appSettings>
</configuration>