<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32.NET" version="1.2.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net461" />
  <package id="Nefarius.ViGEm.Client" version="1.16.150" targetFramework="net461" />
  <package id="WindowsInput" version="6.1.0" targetFramework="net461" />
</packages>