<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.1" targetFramework="net461" developmentDependency="true" />
  <package id="Crc32.NET" version="1.2.0" targetFramework="net461" />
  <package id="Fielder.Fody" version="1.2.3" targetFramework="net461" />
  <package id="Fody" version="4.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net461" />
  <package id="Nefarius.ViGEm.Client" version="1.0.0" targetFramework="net461" />
  <package id="WindowsInput" version="6.1.1" targetFramework="net461" />
</packages>